  <!-- begin .skin-changer -->
    <div class="skin-changer hidden-phone hidden-tablet">
      <ul id="skins">
        <li class="active-skin skin"><a href="#" title="skin-default">default</a></li>
        <li class="skin"><a href="#" title="skin-1">skin 1</a></li>
        <li class="skin"><a href="#" title="skin-2">skin 2</a></li>
        <li class="skin"><a href="#" title="skin-3">skin 3</a></li>
        <li class="skin"><a href="#" title="skin-4">skin 4</a></li>
        <li class="skin"><a href="#" title="skin-5">skin 5</a></li>
        <li class="skin"><a href="#" title="skin-6">skin 6</a></li>
        <li class="skin"><a href="#" title="skin-7">skin 7</a></li>
        <li class="skin"><a href="#" title="skin-8">skin 8</a></li>
        <li class="skin"><a href="#" title="skin-9">skin 9</a></li>
        <li class="skin"><a href="#" title="skin-10">skin 10</a></li>
        <li class="skin"><a href="#" title="skin-11">skin 11</a></li>
        <li class="mirror-mode-switch"><a href="#" title="mirror-mode">mirror mode</a></li>
      </ul>
      <div class="open-skin-changer"><p> Chris Chang CV Website </p></div>
    </div>
  <!-- end .skin-changer -->

  <div class="container">
    <div class="row page-wrap">
    <div class="span12">
      <h4 class="intro-slogan css3-gradient">Chris Chang<br/></h4>
    </div>
    <!-- begin .vcard -->
      <div class="span4 vcard">
        <div class="vcard-wrap">
        <!-- begin .vcard-photo -->
        <div class="vcard-photo">
          <%= image_tag "avatar.jpg" %>
        </div>
        <!-- end .vcard-photo -->

        <!-- begin .vcard-bio -->
        <div class="vcard-bio">
          <h2 class="vcard-name">Chih-Wei Chang </h2>
          <hr/>

          <p>

          I am a web developer using ruby on rails and javascript. My most recent experience has been as a full stack web developer at a game company.
          I'm passionate about finding pracitical way to solve problems in daily life by programming and you can find some works in the following links:

          </p>

        <div id="block-block-9" class="block block-block">
          <div class="content">
            <a href="https://www.facebook.com/gtar69"><%= image_tag "facebook-48x48.png" %>
            <a href="https://github.com/Gtar69"><%= image_tag "github-48x48.png" %>
            <a href="https://tw.linkedin.com/pub/chih-wei-chang/32/979/712"><%= image_tag "linkedin-48x48.png" %></a><br>
          </div>
        </div>

          <hr/>

          <!-- begin .skill-item -->
            <div class="skill-item row-fluid">
              <div class="span12 skill-bar">
                <div class="progress">
                  <div class="bar bar-danger" style="width: 100%;"><i class="icon-tint"></i>Ruby on Rails</div>
                </div>
              </div>
            </div>
          <!-- end .skill-item -->

          <!-- begin .skill-item -->
            <div class="skill-item row-fluid">
              <div class="span12 skill-bar">
                <div class="progress">
                  <div class="bar  bar-warning" style="width: 90%;"><i class="icon-camera-retro"></i>Amazon Web Services</div>
                </div>
              </div>
            </div>
          <!-- end .skill-item -->

          <!-- begin .skill-item -->
            <div class="skill-item row-fluid">
              <div class="span12 skill-bar">
                <div class="progress">
                  <div class="bar  bar-success" style="width: 40%;"><i class="icon-cogs"></i>javascript</div>
                </div>
              </div>
            </div>
          <!-- end .skill-item -->

          <!-- begin .skill-item -->
            <div class="skill-item row-fluid">
              <div class="span12 skill-bar">
                <div class="progress">
                  <div class="bar " style="width: 60%;"><i class="icon-book"></i>Android Development</div>
                </div>
              </div>
            </div>
          <!-- end .skill-item -->

          <hr/>

          <!-- begin info -->
          <span class="vcard-info"><i class="icon-home"></i>Taipei, Taiwan</span><br/>
          <span class="vcard-info"><i class="icon-signal"></i>+886 988517755</span><br/>
          <span class="vcard-info"><i class="icon-globe"></i><a href="#">http://www.example.com/</a></span><br/>
          <span class="vcard-info"><i class="icon-envelope"></i><a href="mailto:example@example.com">chihweichang69@gmail.com</a></span>
          <!-- end info -->

        </div>
        <!-- end .vcard-bio -->
        </div>
      </div>
    <!-- end .vcard -->

    <!-- begin .main-wrap -->
      <div class="span8 main-wrap">

        <!-- begin .section-work -->
        <div class="section section-work section-first row">
          <h3 class="css3-gradient-2"><i class="icon-briefcase"></i>Work experience</h3>

            <div class="section-work-list row-fluid">
              <div class="span6 work-item">
                <h4><i class="icon-wrench"></i>Server-End Developer <br>
                 <small>Atgames Corp.</small><br>
                <small> Sep. 2014 &mdash; present </small></h4>
                <strong>Front-End Work</strong>
                  <li>based on javascript, jQuery and bootstrap</li>
                  <li>website design in bootstrap framework</li>
                  <li>management of websocket with back-end API</li>
                  <br>
                <strong>Back-End Work </strong>
                  <li> mainly on ruby on rails </li>
                  <li> back-end server on eventmachine</li>
                  <li> service-oriented website implemented by ruby on rails</li>
                  <li> architecture design in Amazon VPC for scaling up </li>
                  <li> deployment in Amazon EC2 with Nginx and Passenger </li>
                  <li> integration of 3rd party services ex: Stripe, Amazon SES </li>
                  <li> integration of android-sdk tools for automation tools</li>
              </div>

              <div class="span6 work-item">
                <h4><i class="icon-cut"></i>Free Lancer<br>
                <small>YLG Workshop</small><br>
                <small>Apr. 2014 &mdash; present</small></h4>
                <strong>E-Commerce Project</strong>
                  <li> website design</li>
                  <li> implementation of EC backend</li>
                  <li> integration of Facebbok messenger and fan's page API in the website </li>
                  <li> integration 3rd party cash flow system </li> <br>
                <strong>Local Restaurant Delivery Service</strong>
                  <li> website design</li>
                  <li> integration of SMS in the website</li>
                  <li> implementation of Google Map API</li>
                  <li> business report by Google Analytic</li>
              </div>

            </div>

            <div class="section-work-list row-fluid">
              <div class="span6 work-item">
                <h4><i class="icon-github"></i>Android Framework Developer<br>
                <small>Arima Communications Corp.</small><br>
                <small>Apr. 2014 &mdash; Aug. 2014</small></h4>
                <li>integrating applications(apk layer) and framework layers to fit features needed on Android phones</li>
                <li>investigating CTS , identifying root cause and document requirement to find best practices for issues</li>
                <li>Android telephony framework related features</li>
              </div>


            </div>
        </div>
        <!-- end .section-work -->


        <!-- begin .section-education -->
        <div class="section section-education row">
          <h3 class="css3-gradient-2"><i class="icon-book"></i>Education</h3>
            <div class="section-education-list row-fluid">
              <div class="span7 education-item">
              <h4><i class="icon-circle-arrow-right"></i>TeaLeaf Academy <br></h4>
              <small>
              BUILD ROBUST AND PRODUCTION QUALITY APPLICATIONS </small> &nbsp;&nbsp;

              </div>
            </div>

            <div class="section-education-list row-fluid">
              <div class="span7 education-item">
              <h4><i class="icon-circle-arrow-right"></i>University of Maryland College Park <br>
              </h4><small>Master of Engineering, Computer Engineering</small> &nbsp;&nbsp;
              <small>2009 &mdash; 2011</small>
              </div>
            </div>
            <div class="section-education-list row-fluid">
              <div class="span7 education-item">
                <h4><i class="icon-circle-arrow-right"></i>National Taiwan University <br>
                </h4><small>
                Bachelor of Science in Engineering, Material Science</small> &nbsp;&nbsp;
                <small>2002 &mdash; 2007</small>
              </div>
            </div>
        </div>


        <!-- end .section-education -->

        <!-- begin .section-portfolio -->
        <div class="section section-portfolio row">
          <h3 class="css3-gradient-2"><i class="icon-tint"></i>Portfolio</h3>

          <!-- begin .portfolio-row -->
            <div class="section-portfolio-row-wrap row-fluid">
              <div class="portfolio-item-thumbnail span6">
                <div data-title="First portfolio item" class="portfolio-item-thumbnail-wrap">
                  <a href="assets/EC-1.png" rel="prettyPhoto"><%= image_tag "EC-1.png" %></a>
                </div>
              </div>
              <div class="portfolio-item-thumbnail span6">
                <div data-title="Second portfolio item" class="portfolio-item-thumbnail-wrap">
                  <a href="assets/EC-2.png" rel="prettyPhoto"><%= image_tag "EC-2.png" %></a>
                </div>
              </div>
            </div>
          <!-- end .portfolio-row -->

          <!-- begin .portfolio-row -->
              <div class="portfolio-item-thumbnail span6">
                <div data-title="Forth portfolio item" class="portfolio-item-thumbnail-wrap">
                  <a href="assets/fb.png" rel="prettyPhoto"><%= image_tag "fb.png" %></a>
                </div>
              </div>
            </div>
          <!-- end .portfolio-row -->
        </div>
        <!-- end .section-portfolio -->


      </div>
    <!-- end .main-wrap -->

    </div>
  </div>
